body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 2;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5.62rem;
  margin: 50px auto 0 auto;
  font-family: 'Indie Flower', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;;
  color: #66BFBF;
}

h3 {
  color: #11999E;
  font-family: 'Josefin Sans', sans-serif;
}

hr {
  color: #40a798;
	border-top: dotted 5px;
  margin: 100px auto 100px auto;
	width: 3%;
}

/*-----------------------------Classes-----------------------------*/
.a-big {
  color: #40a798;
  font-size: 20px;
}

.a-big:hover {
  border-radius: 12px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px 24px;
}

.bio {
  width: 50%;
  margin: auto;

}

.bottom-cloud {
  position: absolute;
  left: 30%;
  bottom: 300px;
}

.bottom-container {
  background-color: #66BFBF;
  margin-bottom: 0;
  padding: 30px 0 6px;
}

.btn {
  background-color: #66BFBF;
  border-radius: 8px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px 24px;
  color: white;
}

.btn:hover {
  background-color: #40a798;
  font-family: 'Josefin Sans', sans-serif;
}

.code-img {
  float: left;
  margin-right: 30px;
  width: 15%;
}

.contact-me {
  margin-bottom: 30px;
}

.contact-message {
  margin: 30px auto 30px;
  width: 50%;
}

.copyright {
  color: #f1f1f1;
  font-size: 0.75rem;
  padding-top: 6px;
}

.footer-link {
  text-decoration: none;
}

.middle-container {
  padding-top: 50px;
}

.profile {
  padding-bottom: 40px;
}

.profile-img {
	margin-top: 30px;
  height: 250px;
  width: 250px;
}

.skill-row-left{
	margin: 50px auto 80px auto;
  line-height: 2;
	text-align: left;
	width: 50%;
}

.skill-row-right{
	margin: 30px auto 50px auto;
  line-height: 2;
	text-align: right;
	width: 50%;
}

.top-space {
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 50px;
}

.top-container {
  background-color: #f1f1f1;
  height: 100%;
  margin: 0;
  padding-top: 100px;
  position: relative;
  width: 100%;
}

.web {
  text-decoration: underline;
}

.web-img {
  float: right;
  margin-left: 30px;
  width: 15%;
}
